# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# 1. Obtenha a URL do Banco de Dados no Console do Neon (https://neon.tech)
DATABASE_URL="postgresql://neondb_owner:npg_9NHs6oGeXUBg@ep-dark-fire-acjs6ck1-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# 2. Obtenha essas credenciais no Google Cloud Console -> APIs e Serviços -> Credenciais
# Crie um "ID do cliente OAuth 2.0" do tipo "Aplicativo da Web".
# Adicione em URIs de redirecionamento autorizados: http://localhost:3000/api/auth/callback/google
GOOGLE_ID="sua-google-client-id"
GOOGLE_SECRET="sua-google-client-secret"

# 3. Defina um segredo aleatório para o NextAuth (usado para assinar tokens)
# Você pode gerar um rodando no terminal: openssl rand -base64 32
NEXTAUTH_SECRET="seu-segredo-aleatorio-aqui"

# 4. A URL base da sua aplicação
NEXTAUTH_URL="http://localhost:3000"
